<ion-header>
  <ion-navbar>
    <ion-title>
      Totalização Paralela Mobile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Totalização Paralela Mobile
  <p>
    Escanear Boletim de Urna.
  </p>
  <h1>
    <button ion-button color="dark" full round (click)="scan()"> Escanear Boletim de Urna </button>
  </h1>
  <p id="display"> {{qrcodeStr}}</p>
  <ion-card *ngIf="qrcodeOk">
    <ion-card-header>
      <h2>Qr Code OK</h2>
    </ion-card-header>
    <ion-card-content>
      <button ion-button color="dark" full round (click)="send()">Enviar Boletim de Urna</button>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="productFound">
    <ion-card-header>
      <h2>Price: $ {{selectedProduct.price}}</h2>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>{{selectedProduct.plu}}</li>
        <li>{{selectedProduct.name}}</li>
        <li>{{selectedProduct.desc}}</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
